{% extends "sample/basic2.html" %}

{% block content %}

<div class="jumbotron">
<h1 style="margin-top: 10px" >Welcome to Silfra Employee Attendance System</h1>

<h2 style="font-size:30px;margin-top: 20px" class="yellow">Welcome Admin !</h2>
<h2 class="yellow">{{Datenow}}</h2>
<h4>{{Datas}}</h4>

<!--<button style="margin-left: 1275px;margin-bottom : 10px" id="logOutbt" type="button" class="btn btn-danger">Logout</button>-->
 <li><a style="margin-left: 475px;margin-bottom : 10px" id="logOutbt" href="#" class="round red">Logout<span class="round">But only if you really, really want to. </span></a></li>

</div>
{% load django_tables2 %}
{% render_table table %}
{% load i18n %}

{% endblock %}