{% extends "sample/basic.html" %}

{% block content %}





<div class="login">

	<h1>Silfra Attendance System</h1>
	<h1>Login</h1>
    <form method="post">
    	<input type="text" id="username" name="u" placeholder="Username" required="required" />
        <input type="password" id="password" name="p" placeholder="Password" required="required" />
        <a style="margin-left:105px" type="submit" id="loginbt" class="btnfos btnfos-2">Let me in.</a>
		
  
    </form>
</div>


{% endblock %}
