{% extends "sample/basic.html" %}

{% block content %}

<!--<div style="margin-top:70px;">

<form>

									<div class="input-group">
										<span class="input-group-addon">Username</span>
										<input id="username" type="text" class="form-control" name="username" placeholder="Enter Username">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Password</span>
										<input id="password" type="password" class="form-control" name="password" placeholder="Enter Password">
									</div>
								  </form>
								  <button style="margin-left: 170px;margin-right: 90px;margin-top:10px" id="loginbt" type="button" class="btn btn-success">Login</button>
</div>-->



<div class="login">
	<h1>Silfra Attendance System</h1>
	<h1>Login</h1>
    <form method="post">
    	<input type="text" id="username" name="u" placeholder="Username" required="required" />
        <input type="password" id="password" name="p" placeholder="Password" required="required" />
        <button type="submit" id="loginbt" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>


{% endblock %}