{% extends "sample/header.html" %}

{% block content %}

<div style="margin-top:70px;">
<form>
									<div class="input-group">
										<span class="input-group-addon">Username</span>
										<input id="username" type="text" class="form-control" name="username" placeholder="Enter Username">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Password</span>
										<input id="password" type="password" class="form-control" name="password" placeholder="Enter Password">
									</div>
								  </form>
								  <button style="margin-left: 170px;margin-right: 90px;margin-top:10px" id="loginbt" onclick=login() type="button" class="btn btn-success">Login</button>
</div>

{% endblock %}